body {
    text-align: center;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

#temperatureChart {
    width: 800px !important;
    height: 400px !important;
  }